@-webkit-keyframes colorSlide {
  0% {
    background-position: 0% 100%; }
  20% {
    background-position: 0% 0%; }
  21% {
    background-color: #4e5559; }
  29.99% {
    background-color: #ffffff;
    background-position: 0% 0%; }
  30% {
    background-color: #4e5559;
    background-position: 0% 100%; }
  50% {
    background-position: 0% 0%; }
  51% {
    background-color: #4e5559; }
  59% {
    background-color: #ffffff;
    background-position: 0% 0%; }
  60% {
    background-color: #4e5559;
    background-position: 0% 100%; }
  80% {
    background-position: 0% 0%; }
  81% {
    background-color: #4e5559; }
  90%, 100% {
    background-color: #ffffff; } }

@keyframes colorSlide {
  0% {
    background-position: 0% 100%; }
  20% {
    background-position: 0% 0%; }
  21% {
    background-color: #4e5559; }
  29.99% {
    background-color: #ffffff;
    background-position: 0% 0%; }
  30% {
    background-color: #4e5559;
    background-position: 0% 100%; }
  50% {
    background-position: 0% 0%; }
  51% {
    background-color: #4e5559; }
  59% {
    background-color: #ffffff;
    background-position: 0% 0%; }
  60% {
    background-color: #4e5559;
    background-position: 0% 100%; }
  80% {
    background-position: 0% 0%; }
  81% {
    background-color: #4e5559; }
  90%, 100% {
    background-color: #ffffff; } }

@-webkit-keyframes trackBallSlide {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(12px);
    transform: scale(1) translateY(12px); }
  6% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(3px);
    transform: scale(0.9) translateY(3px); }
  14% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(24px);
    transform: scale(0.4) translateY(24px); }
  15%, 19% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-12px);
    transform: scale(0.4) translateY(-12px); }
  28%, 29.99% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-12px);
    transform: scale(1) translateY(-12px); }
  30% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-12px);
    transform: scale(1) translateY(-12px); }
  36% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(3px);
    transform: scale(0.9) translateY(3px); }
  44% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(24px);
    transform: scale(0.4) translateY(24px); }
  45%, 49% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-12px);
    transform: scale(0.4) translateY(-12px); }
  58%, 59.99% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-12px);
    transform: scale(1) translateY(-12px); }
  60% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-12px);
    transform: scale(1) translateY(-12px); }
  66% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(3px);
    transform: scale(0.9) translateY(3px); }
  74% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(24px);
    transform: scale(0.4) translateY(24px); }
  75%, 79% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-12px);
    transform: scale(0.4) translateY(-12px); }
  88%, 100% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-12px);
    transform: scale(1) translateY(-12px); } }

@keyframes trackBallSlide {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(12px);
    transform: scale(1) translateY(12px); }
  6% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(3px);
    transform: scale(0.9) translateY(3px); }
  14% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(24px);
    transform: scale(0.4) translateY(24px); }
  15%, 19% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-12px);
    transform: scale(0.4) translateY(-12px); }
  28%, 29.99% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-12px);
    transform: scale(1) translateY(-12px); }
  30% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-12px);
    transform: scale(1) translateY(-12px); }
  36% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(3px);
    transform: scale(0.9) translateY(3px); }
  44% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(24px);
    transform: scale(0.4) translateY(24px); }
  45%, 49% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-12px);
    transform: scale(0.4) translateY(-12px); }
  58%, 59.99% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-12px);
    transform: scale(1) translateY(-12px); }
  60% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-12px);
    transform: scale(1) translateY(-12px); }
  66% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(3px);
    transform: scale(0.9) translateY(3px); }
  74% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(24px);
    transform: scale(0.4) translateY(24px); }
  75%, 79% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-12px);
    transform: scale(0.4) translateY(-12px); }
  88%, 100% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-12px);
    transform: scale(1) translateY(-12px); } }

@-webkit-keyframes nudgeMouse {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  20% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  30% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  60% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  80% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes nudgeMouse {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  20% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  30% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  60% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  80% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes nudgeText {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  20% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  30% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  60% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  80% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes nudgeText {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  20% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  30% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  60% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  80% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes colorText {
  21% {
    color: #4e5559; }
  30% {
    color: #ffffff; }
  51% {
    color: #4e5559; }
  60% {
    color: #ffffff; }
  81% {
    color: #4e5559; }
  90% {
    color: #ffffff; } }

@keyframes colorText {
  21% {
    color: #4e5559; }
  30% {
    color: #ffffff; }
  51% {
    color: #4e5559; }
  60% {
    color: #ffffff; }
  81% {
    color: #4e5559; }
  90% {
    color: #ffffff; } }
