#footer {
  overflow-y: hidden;
  background-color: #222222;
  .fifty {
    transform: scale(.5);
  }
  ._inner{
    width: 100%;
    max-width: (1280px + 60);
    padding: 0 60px;
    box-sizing: border-box;
    @include media(lg) {
      padding: 0 30px;
    }
    @include media(sm) {
      padding: 0 20px;
    }
  }
  // top
  ._top {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .__main-logo {
    border-bottom: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    padding: 30px 0;
    img {
      width: 130px;
      height: auto;
      margin: 0 auto;
      @include media(sm) {
        width: 65px;
      }
    }
    @include media(sm) {
      padding: 20px 0;
    }
  }
  ._logo-wrap {
    display: flex;
    justify-content: space-between;
    align-content: baseline;
    margin: 35px 0;
    filter: grayscale(100%);
    a {
      display: block;
    }
    @include media(md) {
      flex-wrap: wrap;
      a {
        width: 50%;
        text-align: center;
        padding: 10px 0;
        &:last-child {
          width: 100%;
        }
      }
    }
    @include media(sm) {
      margin: 25px 0 25px 0;
      a {
        padding: 0;
        //margin-top: -25px;
      }
      //img {
      //  transform: scale(.5);
      //}
    }
  }
  // customize
  .__rabbit {
    width: 50px;
    @include media(sm) {
      width: 25px;
    }
  }
  .__moonshot {
    width: 180px;
    margin-top: 20px;
    @include media(sm) {
      width: 90px;
      margin-top: 10px;
    }
  }
  .__cnc {
    width: 180px;
    margin-top: 28px;
    @include media(sm) {
      width: 90px;
    }
  }
  .__zero {
    width: 180px;
    margin-top: 20px;
    @include media(sm) {
      width: 90px;
      margin-top: 22px;
    }
  }
  .__alchemist {
    width: 180px;
    margin-top: 23px;
    @include media(sm) {
      width: 90px;
      margin-top: 26px;
    }
  }
  // bottom
  ._bottom {
    background-color: #333333;
    color: white;
    font-size: 20px;
    font-weight: 300;
    padding: 30px 0;
    @include media(lg) {
      font-size: 16px;
    }
    @include media(md) {
      padding: 30px 0 15px 0;
    }
    @include media(sm) {
      padding: 15px 0 7px 0;
      font-size: 10px;
    }
    ._inner {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      @include media(md) {
        flex-wrap: wrap;
        justify-content: center;
        &>div {
          width: 100%;
          text-align: center;
        }
      }
    }
    .__logo {
      width: 292px;
      height: auto;
      @include media(lg) {
        width: 200px;
      }
      @include media(sm) {
        width: 155px;
      }
    }
    @include media(md) {
      .__copy {
        border-top: 1px solid #ffffff;
        padding: 15px 0 0 0;
      }
      .__text {
        margin: 20px 0 35px 0;
      }
    }
    @include media(sm) {
      .__copy {
        border-top: 1px solid #ffffff;
        padding: 7px 0 0 0;
      }
      .__text {
        margin: 10px 0 20px 0;
      }
    }
  }
}
