#sec-main {
  background: transparent url(#{$asset-path}imgs/main-bg.jpg) no-repeat top center;
  min-height: 756px;
  position: relative;
  z-index: 3;
  @include media(lg) {
    background-size: 120% auto;
  }
  //@include media(md) {
  //  //background-position: ;
  //  background-size: 100% auto;
  //}
  @include media(sm) {
    min-height: unset;
    background-size: 170% auto;
    background-position: top left 20%;
  }
}

#main-title {
  margin: 100px 0 0 0;
  text-align: right;
  @include media(sm) {
    margin: 130px 0 0 0;
  }
  .main-subtitle {
    font-size: 40px;
    line-height: 47px;
    font-weight: bold;
    margin: 9px 15px 0 0;
    @include media(lg) {
      margin: 2px 11px 0 0;
      font-size: (40vw/13.2);
    }
    @include media(sm) {
      font-size: 20px;
      line-height: 26px;
      margin: 4px 6px 0 0;
    }
  }
  img {
    width: 541px;
    @include media(lg) {
      width: (541vw/13.2);
    }
    @include media(sm) {
      margin: 10% 0 0 0;
      width: 300px;
    }
    @include media(xs) {
      margin: 0;
      width: 200px;
    }
  }
}

#main-quote {
  padding: 0 0 0 390px;
  box-sizing: border-box;
  @include media(lg) {
    padding: 0 0 0 20vw;
    transform: scale(.85) translate(-10%);
  }
  @include media(md) {
    width: 1000px;
    transform: scale(.75) translate(-18%);
  }
  @include media(sm) {
    transform: unset;
    padding: 2% 0 5% 15%;
  }
  @include media(xs) {
    transform: unset;
    padding: 20px 0 0 8px;
  }
  h3 {
    font-size: 30px;
    line-height: 34px;
    margin: 10px 0 20px 0;
    @include media(sm) {
      font-size: 20px;
      line-height: 24px;
      margin: 0 0 8px 0;
    }
  }
  h4 {
    font-size: 40px;
    line-height: 46px;
    margin: 0 0 18px 0;
    font-style: italic;
    @include media(sm) {
      font-size: 25px;
      line-height: 28px;
      margin: 0 0 8px 0;
    }
  }
  p {
    font-size: 20px;
    line-height: 25px;
    margin: 0 0 20px 0;
    @include media(sm) {
      font-size: 12px;
      line-height: 15px;
    }
  }
}

#scroll-wrap {
  margin: 40px 0 20px 0;
  position: relative;
  z-index: 5;
  #mouse {
    width: 30px;
    animation: nudgeMouse 7s ease-out infinite;
  }
  h2 {
    font-size: 16px;
    font-style: italic;
    margin: 16px 0 40px 0;
    animation: colorText 7s ease-out infinite;
  }
  .v-line {
    width: 1px;
    height: 45px;
    background-color: $color2;
  }
}

#scroll-wrap-m {
  #arrow {
    width: 13px;
    animation: nudgeMouse 7s ease-out infinite;
  }
  h2 {
    font-size: 10px;
    animation: colorText 7s ease-out infinite;
  }
}

// Section 2
#sec-excerpt {
  background: white url(#{$asset-path}imgs/bg-stadium.jpg) no-repeat top center;
  min-height: 910px;
  box-sizing: border-box;
  padding-top: 210px;
  margin-top: -150px;
  position: relative;
  z-index: 2;
  @include media(lg) {
    padding-top: 0;
    margin-top: 0;
    background-position: bottom -10px center;
    min-height: 710px;
  }
  @include media(md) {
    min-height: 600px;
  }
  @include media(sm) {
    min-height: unset;
    background-image: url(#{$asset-path}imgs/bg-stadium-m.jpg);
    background-position: bottom center;
    background-size: 100% auto;
    padding: 10% 0 45vw 0;
  }
  ._content {
    @include media(lg) {
      transform: scale(.85);
    }
    @include media(md) {
      transform: scale(.75);
    }
    @include media(sm) {
      transform: unset;
    }
  }
  ._logo {
    width: 162px;
    @include media(sm) {
      width: 22vw;
    }
  }
  h2 {
    font-size: 50px;
    line-height: 57px;
    margin: 0 0 40px 0;
    text-align: center;
    @include media(sm) {
      font-size: 20px;
      line-height: 24px;
      margin: 0 0 20px 0;
    }
  }
  h3 {
    font-size: 35px;
    margin: 0 0 6px 0;
    text-align: center;
    @include media(sm) {
      font-size: 20px;
      line-height: 24px;
      margin: 0 0 4px 0;
    }
  }
  p {
    font-size: 35px;
    line-height: 45px;
    margin: 0 0 0 0;
    text-align: center;
    position: relative;
    z-index: 3;
    @include media(sm) {
      font-size: 15px;
      line-height: 22px;
    }
  }
  sup {
    font-size: 18px;
    @include media(sm) {
      font-size: 13px;
    }
  }
}

#cloud {
  position: absolute;
  bottom: -10px;
  z-index: 2;
  transition: all .7s ease-in-out .1s;
  @include media(sm) {
    display: none;
  }
}

#bike {
  position: absolute;
  top: -160px;
  z-index: 2;
  transition: all .5s ease-in-out;
  @include media(lg) {
    transform: scale(.85) translate(-5%, 10%);
  }
  @include media(md) {
    transform: scale(.75) translate(-5%, 10%);
  }
  @include media(sm) {
    width: 45vw;
    top: unset;
    position: unset;
    margin-bottom: -9vw;
    transition: unset;
  }
}

#sec-action {
  width: 100%;
  position: relative;
  z-index: 2;
  margin-top: -10px;
  @include media(sm) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -27vw;
  }
}

#timeline-wrap {
  width: 100%;
  height: 484px;
  display: flex;
  position: relative;
  justify-content: center;
  background: transparent url(#{$asset-path}imgs/road.png) no-repeat top center;
  box-sizing: border-box;
  padding: 0 20px;
  @include media(sm) {
    overflow: hidden;
    height: 75vw;
    background-size: auto 100%;
  }
}

#timeline {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: $content-width;
  padding: 0 10px;
  box-sizing: border-box;
  top: -120px;
  position: relative;
  @include media(sm) {
    top: 13vw;
    padding: 0;
    height: 10vw;
  }
  ._inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  ._inner_inner {
    width: 90%;
    display: flex;
    position: relative;
    @include media(sm) {
      width: 83%;
    }
  }
  .chevron {
    @include media(sm-plus) {
      @include chevron(3px, 36px, 0px);
      &:hover {
        transform: scale(1.1);
      }
    }
    @include media(sm) {
      @include chevron(1.5px, 18px, 0px);
      position: absolute;
      margin-top: 2px;
    }
    transition: all .2s;
    cursor: pointer;
    &::before {
      border-color: white;
    }
    &.__right {
      margin-left: auto;
      &::before {
        transform: rotate(45deg);
      }
      @include media(sm) {
        right: 2px;
      }
    }
    &.__left {
      margin-right: auto;
      &::before {
        transform: rotate(-135deg);
      }
      @include media(sm) {
        left: 2px;
      }
    }
  }
  ._line {
    background-color: white;
    position: absolute;
    margin-top: -1px;
    top: 50%;
    width: 86%;
    left: 7%;
    height: 2px;
    @include media(sm) {
      width: 120%;
      left: -10%;
      height: 1px;
      margin-top: -0.5px
    }
  }

  // Event Dots
  // ----------------------------------------
  .event {
    width: percentage(1/7);
    height: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    box-sizing: border-box;
    ._label {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 200px;
      height: 50px;
      left: 50%;
      top: -50px;
      margin-left: -100px;
      transition: all .2s ease-in-out;
      img {
        transform: scale(.5);
      }
      @include media(lg) {
        transform: scale(.85) translate(0, 5px);
      }
      @include media(md) {
        transform: scale(.7) translate(0, 10px);
      }
      @include media(sm) {
        display: none;
      }
    }
    .dot {
      height: 40px;
      width: 40px;
      position: relative;
      cursor: pointer;
      z-index: 2;
      &::before, &::after {
        content: '';
        display: block;
        position: absolute;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        transition: all .2s ease-in-out;
      }
      &::before {
        transform: scale(.5);
        background-color: white;
      }
      &::after {
        transform: scale(.5);
        background-color: white;
      }
      &:hover::after {
        transform: scale(.65);
      }
      @include media(sm) {
        width: 20px;
        height: 20px;
        &::before {
          transform: scale(1);
        }
        &::after {
          transform: scale(1);
        }
      }
    }
    .connector {
      border-left: 2px dotted #ffffff;
      position: absolute;
      top: 20px;
      left: 50%;
      height: 0;
      transition: all .2s ease-in-out;
      @include media(sm) {
        display: none;
      }
    }

    // Active
    // ----------------------------------------
    $dot-width: 28px;
    &.active {
      ._label {
        opacity: 0;
      }
      .connector {
        height: 60px;
      }
      .event-desc {
        opacity: 1;
      }
      .dot {
        &::before {
          transform: scale(1);
        }
        &::after {
          transform: scale(.7);
          background-color: $color3;
        }
      }
      @include media(sm) {
        .dot {
          &::before {
            transform: scale(1);
          }
          &::after {
            transform: scale(.8);
            background-color: $color3;
          }
        }
      }
    }
  }
}

.asdf {
  @include media(lg) {
    content: 'asdf'
  }
  @include media(lg-plus) {
    content: 'asdf'
  }
}

.event-desc {
  top: 80px;
  z-index: 9;
  position: absolute;
  transition: all .3s ease-in-out .1s;
  opacity: 0;
  width: 500px;
  left: calc(-250px + 50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media(sm) {
    width: auto;
  }
  ._banner {
    width: 300px;
    height: 97px;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 2;
    &::before, &::after {
      position: absolute;
      content: '';
      height: 100%;
      left: 0;
      top: 0;
    }
    &::before {
      width: 87%;
      left: 6.5%;
      transform: skew(-20deg);
      background-color: white;
    }
    &::after {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url(#{$asset-path}imgs/events/event-logo-1.png);
      background-size: 70% auto;
    }
    @include media(sm) {
      width: 200px;
      height: 60px;
      &::after {
        transform: scale(.5);
      }
    }
  }
  ._desc {
    color: white;
    position: relative;
    padding: 50px 40px;
    background-color: black;
    background: url(#{$asset-path}imgs/bg-desc.jpg) no-repeat top center;
    font-size: 17px;
    line-height: 28px;
    margin: -30px 0 0 0;
    box-sizing: border-box;
    min-width: 320px;
    transition: all .2s;
    @include media(sm) {
      min-width: unset;
      font-size: 15px;
      line-height: 25px;
      padding: 60px 20px 40px 20px;
    }
  }

  &.__ed-1 {
    ._banner {}
    ._banner::after {
      background-image: url(#{$asset-path}imgs/events/event-logo-1.png);
      background-size: #{(364/2)}px;
    }
    @include media(lg) {
      left: -12vw;
    }
    @include media(md) {
      left: -16vw;
    }
  }
  &.__ed-2 {
    ._banner::after {
      background-image: url(#{$asset-path}imgs/events/event-logo-2.png);
      background-size: #{(344/2)}px;
    }
    ._desc { width: 370px }
  }
  &.__ed-3 {
    ._banner::after {
      background-image: url(#{$asset-path}imgs/events/event-logo-3.png);
      background-size: #{(344/2)}px;
    }
  }
  &.__ed-4 {
    ._banner::after {
      background-image: url(#{$asset-path}imgs/events/event-logo-4.png);
      background-size: #{(300/2)}px;
    }
    ._desc {}
  }
  &.__ed-5 {
    ._banner::after {
      background-image: url(#{$asset-path}imgs/events/event-logo-5.png);
      background-size: #{(322/2)}px;
    }
    ._desc {}
  }
  &.__ed-6 {
    ._banner::after {
      background-image: url(#{$asset-path}imgs/events/event-logo-6.png);
      background-size: #{(322/2)}px;
    }
    @include media(lg) {
      left: unset;
      right: -20vw;
    }
  }
  &.__ed-7 {
    ._banner::after {
      background-image: url(#{$asset-path}imgs/events/event-logo-7.png);
      background-size: #{(322/2)}px;
    }
    @include media(lg) {
      left: unset;
      right: -12vw;
    }
    @include media(md) {
      right: -16vw;
    }
  }
}

#mobile-events {
  @include media(sm-plus) {
    display: none;
  }
  @include media(sm) {
    top: -50vw;
    width: 94%;
    max-width: 500px;
    height: 450px;
    //background-color: #eb1c23;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    //padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
  }
  .event-desc {
    top: 0;
    left: 0;
    width: 100%;
    &.active {
      opacity: 1;
    }
    ._desc {
      width: 100% !important;
    }
    //&:not(.active) {
    //  display: none;
    //}
  }
}

#sec-news {
  min-height: 1100px;
  background: #ffffff url(#{$asset-path}imgs/bg-news.jpg) no-repeat top center;
  margin-top: -200px;
  position: relative;
  z-index: 1;
  @include media(md) {
    margin-top: -350px;
  }
  @include media(sm) {
    background: #ffffff url(#{$asset-path}imgs/bg-news-m.jpg) no-repeat center center;
    background-size: 100% auto;
    min-height: unset;
    margin-top: -600px;
    height: 150vw;
  }
  @include media(xs) {
    margin-top: -600px;
    height: 200vw;
  }

  // Fix the top distance (mobile)
  // ----------------------------------------
  @media (max-width: 420px) {
    margin-top: -500px;
  }
  @media (max-width: 380px) {
    margin-top: -450px;
  }
  @media (max-width: 350px) {
    margin-top: -350px;
  }

  .news-wrap {
    margin: 300px 0 0 -260px;
    display: flex;
    position: relative;
    z-index: 1;
    @include media(lg) {
      transform: scale(.75) translate(0, 70px);
    }
    @include media(md) {
      transform: scale(.6) translate(-100px, 250px);
    }
    @include media(sm) {
      transform: unset;
      margin: 0 0 0 10%;
      display: flex;
      flex-direction: column;
      bottom: -64vw;
    }
    @include media(xs) {
      margin: 0 0 0 0;
      position: absolute;
      bottom: 45vw;
    }
  }
  h2 {
    font-size: 80px;
    line-height: 80px;
    margin: 0 0 0 0;
    @include media(sm) {
      font-size: 30px;
      line-height: 30px;
    }
  }
  ._right {
    margin: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
    @include media(sm) {
      margin: 5px 0 0 0;
    }
  }
  .ts-btn {
    margin-top: 15px;
    position: relative;
    z-index: 6;
    @include media(sm) {
      margin-top: 5px;
    }
  }
  .news-img {
    @include media(sm) {
      width: 80%;
      margin: 0 0 0 -27%;
    }
    @include media(xs) {
      width: 120%;
      margin: 0 0 0 -28%;
    }
  }

}

#sec-youtube {
  pointer-events: none;
  min-height: 970px;
  background: transparent url(#{$asset-path}imgs/bg-youtube.png) no-repeat top center;
  //background-size: cover;
  margin-top: -750px;
  position: relative;
  z-index: 1;
  @include media(sm) {
    min-height: unset;
    background-image: url(#{$asset-path}imgs/bg-youtube-m.png);
    background-size: 100% auto;
    background-position: 45% 62%;
    margin-top: -48%;
    height: 92vw;
  }
  h2 {
    font-size: 80px;
    line-height: 80px;
    margin: 0 0 0 0;
    text-transform: uppercase;
    color: white;
    @include media(sm) {
      font-size: 30px;
      line-height: 30px;
    }
  }
  .yt-wrap {
    margin-top: 330px;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    pointer-events: auto;
    @include media(lg) {
      transform: scale(.75) translate(80px, 70px);
    }
    @include media(md) {
      transform: scale(.6) translate(250px, 120px);
    }
    @include media(sm) {
      transform: unset;
      margin-top: 18vw;
      padding: 0 10% 0 0;
    }
    @include media(xs) {
      padding: 0;
    }
    .yt-img {
      margin-right: -310px;
      @include media(sm) {
        width: 140%;
        margin: 10% -28% 0 0;
      }
      @include media(xs) {
        width: 160%;
        margin: 0 -25% 0 0;
      }
    }
  }
  ._bottom {
    margin: 20px 0 0 0;
    display: flex;
  }
  .ts-btn {
    // added
    position: relative;
    right: 0;
    margin: 15px 0 0 20px;
    @include media(sm) {
      margin: 4px 0 0 12px;
    }
  }
}

#sec-bottom {
  height: 0;
  background-color: $color1;
}
