@mixin chevron($chevron-thickness, $chevron-size, $chevron-offset) {
  &::before {
    border-style: solid;
    border-width: $chevron-thickness $chevron-thickness 0 0;
    content: '';
    display: inline-block;
    height: $chevron-size;
    width: $chevron-size;
    top: $chevron-offset;
    left: $chevron-offset;
    position: relative;
    transform: rotate(135deg);
    transition: all .3s;
  }
}

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}
