$asset-path: "../";

$content-padding: 10px;
$content-padding-mobile: 10px;
$content-width: 1300px;
$content-width-padded: #{$content-width + $content-padding * 2};

$color1: #eb1c23;
$color2: #000000;
$color3: #bf022a;
$color-danger: #df2c2f;

$color-font: #000000;
$color-input-border: #cccccc;

$color-bg1: #fffffff;

$nav-height: 122px;
$nav-height-mobile: 53px;

$font-family-system: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$font-family1: 'AP Honda', sans-serif;
$font-family2: $font-family-system;
$font-family3: $font-family-system;

