/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

@media (min-width: 576px) {
  .xs-col-6 {
    width: 50%; } }

@media (min-width: 768px) {
  .sm-col-6 {
    width: 50%; } }

@media (min-width: 992px) {
  .md-col-6 {
    width: 50%; }
  .md-col-4 {
    width: 33.33%; }
  .md-col-3 {
    width: 25%; } }

.ml-col {
  box-sizing: border-box; }

@media (min-width: 1600px) {
  .show-xl {
    display: none !important; } }

@media (max-width: 1599px) {
  .hide-xl {
    display: none !important; } }

@media (min-width: 1320px) {
  .show-lg {
    display: none !important; } }

@media (max-width: 1319px) {
  .hide-lg {
    display: none !important; } }

@media (min-width: 992px) {
  .show-md {
    display: none !important; } }

@media (max-width: 991px) {
  .hide-md {
    display: none !important; } }

@media (min-width: 768px) {
  .show-sm {
    display: none !important; } }

@media (max-width: 767px) {
  .hide-sm {
    display: none !important; } }

@media (min-width: 576px) {
  .show-xs {
    display: none !important; } }

@media (max-width: 575px) {
  .hide-xs {
    display: none !important; } }

body {
  background-color: #ffffff;
  font-family: "AP Honda", sans-serif;
  overflow-x: hidden;
  color: #000000;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%; }
  body.mobile-menu-expanded {
    overflow-y: hidden; }
  body.body-no-scroll {
    overflow-y: hidden; }

.font1 {
  font-family: "AP Honda", sans-serif; }

.font2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

.font3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

.color1 {
  color: #eb1c23; }

.color2 {
  color: #000000; }

.color-danger {
  color: #df2c2f; }

.color-font {
  color: #000000; }

.bold {
  font-weight: bold; }

.flex {
  display: flex; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.flex-h-center {
  display: flex;
  justify-content: center; }

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center; }

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center; }

.layout-outer {
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 10px;
  overflow: hidden; }
  @media (max-width: 767px) {
    .layout-outer {
      padding: 0 10px; } }

.layout-inner {
  width: 100%;
  max-width: 1300px;
  box-sizing: border-box; }

.ts-btn {
  width: 300px;
  height: 67px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eb1c23;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none; }
  .ts-btn:hover {
    background-color: #bf022a; }
  .ts-btn.ts-btn-black {
    background-color: black; }
    .ts-btn.ts-btn-black:hover {
      background-color: #555555; }
  @media (max-width: 767px) {
    .ts-btn {
      font-size: 15px;
      width: 150px;
      height: 35px; } }

#sec-main {
  background: transparent url(../imgs/main-bg.jpg) no-repeat top center;
  min-height: 756px;
  position: relative;
  z-index: 3; }
  @media (max-width: 1319px) {
    #sec-main {
      background-size: 120% auto; } }
  @media (max-width: 767px) {
    #sec-main {
      min-height: unset;
      background-size: 170% auto;
      background-position: top left 20%; } }

#main-title {
  margin: 100px 0 0 0;
  text-align: right; }
  @media (max-width: 767px) {
    #main-title {
      margin: 130px 0 0 0; } }
  #main-title .main-subtitle {
    font-size: 40px;
    line-height: 47px;
    font-weight: bold;
    margin: 9px 15px 0 0; }
    @media (max-width: 1319px) {
      #main-title .main-subtitle {
        margin: 2px 11px 0 0;
        font-size: 3.0303vw; } }
    @media (max-width: 767px) {
      #main-title .main-subtitle {
        font-size: 20px;
        line-height: 26px;
        margin: 4px 6px 0 0; } }
  #main-title img {
    width: 541px; }
    @media (max-width: 1319px) {
      #main-title img {
        width: 40.98485vw; } }
    @media (max-width: 767px) {
      #main-title img {
        margin: 10% 0 0 0;
        width: 300px; } }
    @media (max-width: 575px) {
      #main-title img {
        margin: 0;
        width: 200px; } }

#main-quote {
  padding: 0 0 0 390px;
  box-sizing: border-box; }
  @media (max-width: 1319px) {
    #main-quote {
      padding: 0 0 0 20vw;
      -webkit-transform: scale(0.85) translate(-10%);
              transform: scale(0.85) translate(-10%); } }
  @media (max-width: 991px) {
    #main-quote {
      width: 1000px;
      -webkit-transform: scale(0.75) translate(-18%);
              transform: scale(0.75) translate(-18%); } }
  @media (max-width: 767px) {
    #main-quote {
      -webkit-transform: unset;
              transform: unset;
      padding: 2% 0 5% 15%; } }
  @media (max-width: 575px) {
    #main-quote {
      -webkit-transform: unset;
              transform: unset;
      padding: 20px 0 0 8px; } }
  #main-quote h3 {
    font-size: 30px;
    line-height: 34px;
    margin: 10px 0 20px 0; }
    @media (max-width: 767px) {
      #main-quote h3 {
        font-size: 20px;
        line-height: 24px;
        margin: 0 0 8px 0; } }
  #main-quote h4 {
    font-size: 40px;
    line-height: 46px;
    margin: 0 0 18px 0;
    font-style: italic; }
    @media (max-width: 767px) {
      #main-quote h4 {
        font-size: 25px;
        line-height: 28px;
        margin: 0 0 8px 0; } }
  #main-quote p {
    font-size: 20px;
    line-height: 25px;
    margin: 0 0 20px 0; }
    @media (max-width: 767px) {
      #main-quote p {
        font-size: 12px;
        line-height: 15px; } }

#scroll-wrap {
  margin: 40px 0 20px 0;
  position: relative;
  z-index: 5; }
  #scroll-wrap #mouse {
    width: 30px;
    -webkit-animation: nudgeMouse 7s ease-out infinite;
            animation: nudgeMouse 7s ease-out infinite; }
  #scroll-wrap h2 {
    font-size: 16px;
    font-style: italic;
    margin: 16px 0 40px 0;
    -webkit-animation: colorText 7s ease-out infinite;
            animation: colorText 7s ease-out infinite; }
  #scroll-wrap .v-line {
    width: 1px;
    height: 45px;
    background-color: #000000; }

#scroll-wrap-m #arrow {
  width: 13px;
  -webkit-animation: nudgeMouse 7s ease-out infinite;
          animation: nudgeMouse 7s ease-out infinite; }

#scroll-wrap-m h2 {
  font-size: 10px;
  -webkit-animation: colorText 7s ease-out infinite;
          animation: colorText 7s ease-out infinite; }

#sec-excerpt {
  background: white url(../imgs/bg-stadium.jpg) no-repeat top center;
  min-height: 910px;
  box-sizing: border-box;
  padding-top: 210px;
  margin-top: -150px;
  position: relative;
  z-index: 2; }
  @media (max-width: 1319px) {
    #sec-excerpt {
      padding-top: 0;
      margin-top: 0;
      background-position: bottom -10px center;
      min-height: 710px; } }
  @media (max-width: 991px) {
    #sec-excerpt {
      min-height: 600px; } }
  @media (max-width: 767px) {
    #sec-excerpt {
      min-height: unset;
      background-image: url(../imgs/bg-stadium-m.jpg);
      background-position: bottom center;
      background-size: 100% auto;
      padding: 10% 0 45vw 0; } }
  @media (max-width: 1319px) {
    #sec-excerpt ._content {
      -webkit-transform: scale(0.85);
              transform: scale(0.85); } }
  @media (max-width: 991px) {
    #sec-excerpt ._content {
      -webkit-transform: scale(0.75);
              transform: scale(0.75); } }
  @media (max-width: 767px) {
    #sec-excerpt ._content {
      -webkit-transform: unset;
              transform: unset; } }
  #sec-excerpt ._logo {
    width: 162px; }
    @media (max-width: 767px) {
      #sec-excerpt ._logo {
        width: 22vw; } }
  #sec-excerpt h2 {
    font-size: 50px;
    line-height: 57px;
    margin: 0 0 40px 0;
    text-align: center; }
    @media (max-width: 767px) {
      #sec-excerpt h2 {
        font-size: 20px;
        line-height: 24px;
        margin: 0 0 20px 0; } }
  #sec-excerpt h3 {
    font-size: 35px;
    margin: 0 0 6px 0;
    text-align: center; }
    @media (max-width: 767px) {
      #sec-excerpt h3 {
        font-size: 20px;
        line-height: 24px;
        margin: 0 0 4px 0; } }
  #sec-excerpt p {
    font-size: 35px;
    line-height: 45px;
    margin: 0 0 0 0;
    text-align: center;
    position: relative;
    z-index: 3; }
    @media (max-width: 767px) {
      #sec-excerpt p {
        font-size: 15px;
        line-height: 22px; } }
  #sec-excerpt sup {
    font-size: 18px; }
    @media (max-width: 767px) {
      #sec-excerpt sup {
        font-size: 13px; } }

#cloud {
  position: absolute;
  bottom: -10px;
  z-index: 2;
  transition: all .7s ease-in-out .1s; }
  @media (max-width: 767px) {
    #cloud {
      display: none; } }

#bike {
  position: absolute;
  top: -160px;
  z-index: 2;
  transition: all .5s ease-in-out; }
  @media (max-width: 1319px) {
    #bike {
      -webkit-transform: scale(0.85) translate(-5%, 10%);
              transform: scale(0.85) translate(-5%, 10%); } }
  @media (max-width: 991px) {
    #bike {
      -webkit-transform: scale(0.75) translate(-5%, 10%);
              transform: scale(0.75) translate(-5%, 10%); } }
  @media (max-width: 767px) {
    #bike {
      width: 45vw;
      top: unset;
      position: unset;
      margin-bottom: -9vw;
      transition: unset; } }

#sec-action {
  width: 100%;
  position: relative;
  z-index: 2;
  margin-top: -10px; }
  @media (max-width: 767px) {
    #sec-action {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: -27vw; } }

#timeline-wrap {
  width: 100%;
  height: 484px;
  display: flex;
  position: relative;
  justify-content: center;
  background: transparent url(../imgs/road.png) no-repeat top center;
  box-sizing: border-box;
  padding: 0 20px; }
  @media (max-width: 767px) {
    #timeline-wrap {
      overflow: hidden;
      height: 75vw;
      background-size: auto 100%; } }

#timeline {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1300px;
  padding: 0 10px;
  box-sizing: border-box;
  top: -120px;
  position: relative; }
  @media (max-width: 767px) {
    #timeline {
      top: 13vw;
      padding: 0;
      height: 10vw; } }
  #timeline ._inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; }
  #timeline ._inner_inner {
    width: 90%;
    display: flex;
    position: relative; }
    @media (max-width: 767px) {
      #timeline ._inner_inner {
        width: 83%; } }
  #timeline .chevron {
    transition: all .2s;
    cursor: pointer; }
    @media (min-width: 768px) {
      #timeline .chevron::before {
        border-style: solid;
        border-width: 3px 3px 0 0;
        content: '';
        display: inline-block;
        height: 36px;
        width: 36px;
        top: 0px;
        left: 0px;
        position: relative;
        -webkit-transform: rotate(135deg);
                transform: rotate(135deg);
        transition: all .3s; }
      #timeline .chevron:hover {
        -webkit-transform: scale(1.1);
                transform: scale(1.1); } }
    @media (max-width: 767px) {
      #timeline .chevron {
        position: absolute;
        margin-top: 2px; }
        #timeline .chevron::before {
          border-style: solid;
          border-width: 1.5px 1.5px 0 0;
          content: '';
          display: inline-block;
          height: 18px;
          width: 18px;
          top: 0px;
          left: 0px;
          position: relative;
          -webkit-transform: rotate(135deg);
                  transform: rotate(135deg);
          transition: all .3s; } }
    #timeline .chevron::before {
      border-color: white; }
    #timeline .chevron.__right {
      margin-left: auto; }
      #timeline .chevron.__right::before {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }
      @media (max-width: 767px) {
        #timeline .chevron.__right {
          right: 2px; } }
    #timeline .chevron.__left {
      margin-right: auto; }
      #timeline .chevron.__left::before {
        -webkit-transform: rotate(-135deg);
                transform: rotate(-135deg); }
      @media (max-width: 767px) {
        #timeline .chevron.__left {
          left: 2px; } }
  #timeline ._line {
    background-color: white;
    position: absolute;
    margin-top: -1px;
    top: 50%;
    width: 86%;
    left: 7%;
    height: 2px; }
    @media (max-width: 767px) {
      #timeline ._line {
        width: 120%;
        left: -10%;
        height: 1px;
        margin-top: -0.5px; } }
  #timeline .event {
    width: 14.28571%;
    height: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    box-sizing: border-box; }
    #timeline .event ._label {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 200px;
      height: 50px;
      left: 50%;
      top: -50px;
      margin-left: -100px;
      transition: all .2s ease-in-out; }
      #timeline .event ._label img {
        -webkit-transform: scale(0.5);
                transform: scale(0.5); }
      @media (max-width: 1319px) {
        #timeline .event ._label {
          -webkit-transform: scale(0.85) translate(0, 5px);
                  transform: scale(0.85) translate(0, 5px); } }
      @media (max-width: 991px) {
        #timeline .event ._label {
          -webkit-transform: scale(0.7) translate(0, 10px);
                  transform: scale(0.7) translate(0, 10px); } }
      @media (max-width: 767px) {
        #timeline .event ._label {
          display: none; } }
    #timeline .event .dot {
      height: 40px;
      width: 40px;
      position: relative;
      cursor: pointer;
      z-index: 2; }
      #timeline .event .dot::before, #timeline .event .dot::after {
        content: '';
        display: block;
        position: absolute;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        transition: all .2s ease-in-out; }
      #timeline .event .dot::before {
        -webkit-transform: scale(0.5);
                transform: scale(0.5);
        background-color: white; }
      #timeline .event .dot::after {
        -webkit-transform: scale(0.5);
                transform: scale(0.5);
        background-color: white; }
      #timeline .event .dot:hover::after {
        -webkit-transform: scale(0.65);
                transform: scale(0.65); }
      @media (max-width: 767px) {
        #timeline .event .dot {
          width: 20px;
          height: 20px; }
          #timeline .event .dot::before {
            -webkit-transform: scale(1);
                    transform: scale(1); }
          #timeline .event .dot::after {
            -webkit-transform: scale(1);
                    transform: scale(1); } }
    #timeline .event .connector {
      border-left: 2px dotted #ffffff;
      position: absolute;
      top: 20px;
      left: 50%;
      height: 0;
      transition: all .2s ease-in-out; }
      @media (max-width: 767px) {
        #timeline .event .connector {
          display: none; } }
    #timeline .event.active ._label {
      opacity: 0; }
    #timeline .event.active .connector {
      height: 60px; }
    #timeline .event.active .event-desc {
      opacity: 1; }
    #timeline .event.active .dot::before {
      -webkit-transform: scale(1);
              transform: scale(1); }
    #timeline .event.active .dot::after {
      -webkit-transform: scale(0.7);
              transform: scale(0.7);
      background-color: #bf022a; }
    @media (max-width: 767px) {
      #timeline .event.active .dot::before {
        -webkit-transform: scale(1);
                transform: scale(1); }
      #timeline .event.active .dot::after {
        -webkit-transform: scale(0.8);
                transform: scale(0.8);
        background-color: #bf022a; } }

@media (max-width: 1319px) {
  .asdf {
    content: 'asdf'; } }

@media (min-width: 1320px) {
  .asdf {
    content: 'asdf'; } }

.event-desc {
  top: 80px;
  z-index: 9;
  position: absolute;
  transition: all .3s ease-in-out .1s;
  opacity: 0;
  width: 500px;
  left: calc(-250px + 50%);
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (max-width: 767px) {
    .event-desc {
      width: auto; } }
  .event-desc ._banner {
    width: 300px;
    height: 97px;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 2; }
    .event-desc ._banner::before, .event-desc ._banner::after {
      position: absolute;
      content: '';
      height: 100%;
      left: 0;
      top: 0; }
    .event-desc ._banner::before {
      width: 87%;
      left: 6.5%;
      -webkit-transform: skew(-20deg);
              transform: skew(-20deg);
      background-color: white; }
    .event-desc ._banner::after {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url(../imgs/events/event-logo-1.png);
      background-size: 70% auto; }
    @media (max-width: 767px) {
      .event-desc ._banner {
        width: 200px;
        height: 60px; }
        .event-desc ._banner::after {
          -webkit-transform: scale(0.5);
                  transform: scale(0.5); } }
  .event-desc ._desc {
    color: white;
    position: relative;
    padding: 50px 40px;
    background-color: black;
    background: url(../imgs/bg-desc.jpg) no-repeat top center;
    font-size: 17px;
    line-height: 28px;
    margin: -30px 0 0 0;
    box-sizing: border-box;
    min-width: 320px;
    transition: all .2s; }
    @media (max-width: 767px) {
      .event-desc ._desc {
        min-width: unset;
        font-size: 15px;
        line-height: 25px;
        padding: 60px 20px 40px 20px; } }
  .event-desc.__ed-1 ._banner::after {
    background-image: url(../imgs/events/event-logo-1.png);
    background-size: 182px; }
  @media (max-width: 1319px) {
    .event-desc.__ed-1 {
      left: -12vw; } }
  @media (max-width: 991px) {
    .event-desc.__ed-1 {
      left: -16vw; } }
  .event-desc.__ed-2 ._banner::after {
    background-image: url(../imgs/events/event-logo-2.png);
    background-size: 172px; }
  .event-desc.__ed-2 ._desc {
    width: 370px; }
  .event-desc.__ed-3 ._banner::after {
    background-image: url(../imgs/events/event-logo-3.png);
    background-size: 172px; }
  .event-desc.__ed-4 ._banner::after {
    background-image: url(../imgs/events/event-logo-4.png);
    background-size: 150px; }
  .event-desc.__ed-5 ._banner::after {
    background-image: url(../imgs/events/event-logo-5.png);
    background-size: 161px; }
  .event-desc.__ed-6 ._banner::after {
    background-image: url(../imgs/events/event-logo-6.png);
    background-size: 161px; }
  @media (max-width: 1319px) {
    .event-desc.__ed-6 {
      left: unset;
      right: -20vw; } }
  .event-desc.__ed-7 ._banner::after {
    background-image: url(../imgs/events/event-logo-7.png);
    background-size: 161px; }
  @media (max-width: 1319px) {
    .event-desc.__ed-7 {
      left: unset;
      right: -12vw; } }
  @media (max-width: 991px) {
    .event-desc.__ed-7 {
      right: -16vw; } }

@media (min-width: 768px) {
  #mobile-events {
    display: none; } }

@media (max-width: 767px) {
  #mobile-events {
    top: -50vw;
    width: 94%;
    max-width: 500px;
    height: 450px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden; } }

#mobile-events .event-desc {
  top: 0;
  left: 0;
  width: 100%; }
  #mobile-events .event-desc.active {
    opacity: 1; }
  #mobile-events .event-desc ._desc {
    width: 100% !important; }

#sec-news {
  min-height: 1100px;
  background: #ffffff url(../imgs/bg-news.jpg) no-repeat top center;
  margin-top: -200px;
  position: relative;
  z-index: 1; }
  @media (max-width: 991px) {
    #sec-news {
      margin-top: -350px; } }
  @media (max-width: 767px) {
    #sec-news {
      background: #ffffff url(../imgs/bg-news-m.jpg) no-repeat center center;
      background-size: 100% auto;
      min-height: unset;
      margin-top: -600px;
      height: 150vw; } }
  @media (max-width: 575px) {
    #sec-news {
      margin-top: -600px;
      height: 200vw; } }
  @media (max-width: 420px) {
    #sec-news {
      margin-top: -500px; } }
  @media (max-width: 380px) {
    #sec-news {
      margin-top: -450px; } }
  @media (max-width: 350px) {
    #sec-news {
      margin-top: -350px; } }
  #sec-news .news-wrap {
    margin: 300px 0 0 -260px;
    display: flex;
    position: relative;
    z-index: 1; }
    @media (max-width: 1319px) {
      #sec-news .news-wrap {
        -webkit-transform: scale(0.75) translate(0, 70px);
                transform: scale(0.75) translate(0, 70px); } }
    @media (max-width: 991px) {
      #sec-news .news-wrap {
        -webkit-transform: scale(0.6) translate(-100px, 250px);
                transform: scale(0.6) translate(-100px, 250px); } }
    @media (max-width: 767px) {
      #sec-news .news-wrap {
        -webkit-transform: unset;
                transform: unset;
        margin: 0 0 0 10%;
        display: flex;
        flex-direction: column;
        bottom: -64vw; } }
    @media (max-width: 575px) {
      #sec-news .news-wrap {
        margin: 0 0 0 0;
        position: absolute;
        bottom: 45vw; } }
  #sec-news h2 {
    font-size: 80px;
    line-height: 80px;
    margin: 0 0 0 0; }
    @media (max-width: 767px) {
      #sec-news h2 {
        font-size: 30px;
        line-height: 30px; } }
  #sec-news ._right {
    margin: 20px 0 0 20px;
    display: flex;
    flex-direction: column; }
    @media (max-width: 767px) {
      #sec-news ._right {
        margin: 5px 0 0 0; } }
  #sec-news .ts-btn {
    margin-top: 15px;
    position: relative;
    z-index: 6; }
    @media (max-width: 767px) {
      #sec-news .ts-btn {
        margin-top: 5px; } }
  @media (max-width: 767px) {
    #sec-news .news-img {
      width: 80%;
      margin: 0 0 0 -27%; } }
  @media (max-width: 575px) {
    #sec-news .news-img {
      width: 120%;
      margin: 0 0 0 -28%; } }

#sec-youtube {
  pointer-events: none;
  min-height: 970px;
  background: transparent url(../imgs/bg-youtube.png) no-repeat top center;
  margin-top: -750px;
  position: relative;
  z-index: 1; }
  @media (max-width: 767px) {
    #sec-youtube {
      min-height: unset;
      background-image: url(../imgs/bg-youtube-m.png);
      background-size: 100% auto;
      background-position: 45% 62%;
      margin-top: -48%;
      height: 92vw; } }
  #sec-youtube h2 {
    font-size: 80px;
    line-height: 80px;
    margin: 0 0 0 0;
    text-transform: uppercase;
    color: white; }
    @media (max-width: 767px) {
      #sec-youtube h2 {
        font-size: 30px;
        line-height: 30px; } }
  #sec-youtube .yt-wrap {
    margin-top: 330px;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    pointer-events: auto; }
    @media (max-width: 1319px) {
      #sec-youtube .yt-wrap {
        -webkit-transform: scale(0.75) translate(80px, 70px);
                transform: scale(0.75) translate(80px, 70px); } }
    @media (max-width: 991px) {
      #sec-youtube .yt-wrap {
        -webkit-transform: scale(0.6) translate(250px, 120px);
                transform: scale(0.6) translate(250px, 120px); } }
    @media (max-width: 767px) {
      #sec-youtube .yt-wrap {
        -webkit-transform: unset;
                transform: unset;
        margin-top: 18vw;
        padding: 0 10% 0 0; } }
    @media (max-width: 575px) {
      #sec-youtube .yt-wrap {
        padding: 0; } }
    #sec-youtube .yt-wrap .yt-img {
      margin-right: -310px; }
      @media (max-width: 767px) {
        #sec-youtube .yt-wrap .yt-img {
          width: 140%;
          margin: 10% -28% 0 0; } }
      @media (max-width: 575px) {
        #sec-youtube .yt-wrap .yt-img {
          width: 160%;
          margin: 0 -25% 0 0; } }
  #sec-youtube ._bottom {
    margin: 20px 0 0 0;
    display: flex; }
  #sec-youtube .ts-btn {
    position: relative;
    right: 0;
    margin: 15px 0 0 20px; }
    @media (max-width: 767px) {
      #sec-youtube .ts-btn {
        margin: 4px 0 0 12px; } }

#sec-bottom {
  height: 0;
  background-color: #eb1c23; }

#main-nav {
  top: 0;
  left: 0;
  height: 122px;
  width: 100%;
  background-color: #df2c2f; }
  @media (max-width: 767px) {
    #main-nav {
      height: 53px;
      background-color: indianred; } }

#footer {
  overflow-y: hidden;
  background-color: #222222; }
  #footer .fifty {
    -webkit-transform: scale(0.5);
            transform: scale(0.5); }
  #footer ._inner {
    width: 100%;
    max-width: 1340px;
    padding: 0 60px;
    box-sizing: border-box; }
    @media (max-width: 1319px) {
      #footer ._inner {
        padding: 0 30px; } }
    @media (max-width: 767px) {
      #footer ._inner {
        padding: 0 20px; } }
  #footer ._top {
    display: flex;
    justify-content: center;
    width: 100%; }
  #footer .__main-logo {
    border-bottom: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    padding: 30px 0; }
    #footer .__main-logo img {
      width: 130px;
      height: auto;
      margin: 0 auto; }
      @media (max-width: 767px) {
        #footer .__main-logo img {
          width: 65px; } }
    @media (max-width: 767px) {
      #footer .__main-logo {
        padding: 20px 0; } }
  #footer ._logo-wrap {
    display: flex;
    justify-content: space-between;
    align-content: baseline;
    margin: 35px 0;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%); }
    #footer ._logo-wrap a {
      display: block; }
    @media (max-width: 991px) {
      #footer ._logo-wrap {
        flex-wrap: wrap; }
        #footer ._logo-wrap a {
          width: 50%;
          text-align: center;
          padding: 10px 0; }
          #footer ._logo-wrap a:last-child {
            width: 100%; } }
    @media (max-width: 767px) {
      #footer ._logo-wrap {
        margin: 25px 0 25px 0; }
        #footer ._logo-wrap a {
          padding: 0; } }
  #footer .__rabbit {
    width: 50px; }
    @media (max-width: 767px) {
      #footer .__rabbit {
        width: 25px; } }
  #footer .__moonshot {
    width: 180px;
    margin-top: 20px; }
    @media (max-width: 767px) {
      #footer .__moonshot {
        width: 90px;
        margin-top: 10px; } }
  #footer .__cnc {
    width: 180px;
    margin-top: 28px; }
    @media (max-width: 767px) {
      #footer .__cnc {
        width: 90px; } }
  #footer .__zero {
    width: 180px;
    margin-top: 20px; }
    @media (max-width: 767px) {
      #footer .__zero {
        width: 90px;
        margin-top: 22px; } }
  #footer .__alchemist {
    width: 180px;
    margin-top: 23px; }
    @media (max-width: 767px) {
      #footer .__alchemist {
        width: 90px;
        margin-top: 26px; } }
  #footer ._bottom {
    background-color: #333333;
    color: white;
    font-size: 20px;
    font-weight: 300;
    padding: 30px 0; }
    @media (max-width: 1319px) {
      #footer ._bottom {
        font-size: 16px; } }
    @media (max-width: 991px) {
      #footer ._bottom {
        padding: 30px 0 15px 0; } }
    @media (max-width: 767px) {
      #footer ._bottom {
        padding: 15px 0 7px 0;
        font-size: 10px; } }
    #footer ._bottom ._inner {
      display: flex;
      justify-content: space-between;
      align-items: baseline; }
      @media (max-width: 991px) {
        #footer ._bottom ._inner {
          flex-wrap: wrap;
          justify-content: center; }
          #footer ._bottom ._inner > div {
            width: 100%;
            text-align: center; } }
    #footer ._bottom .__logo {
      width: 292px;
      height: auto; }
      @media (max-width: 1319px) {
        #footer ._bottom .__logo {
          width: 200px; } }
      @media (max-width: 767px) {
        #footer ._bottom .__logo {
          width: 155px; } }
    @media (max-width: 991px) {
      #footer ._bottom .__copy {
        border-top: 1px solid #ffffff;
        padding: 15px 0 0 0; }
      #footer ._bottom .__text {
        margin: 20px 0 35px 0; } }
    @media (max-width: 767px) {
      #footer ._bottom .__copy {
        border-top: 1px solid #ffffff;
        padding: 7px 0 0 0; }
      #footer ._bottom .__text {
        margin: 10px 0 20px 0; } }

@-webkit-keyframes colorSlide {
  0% {
    background-position: 0% 100%; }
  20% {
    background-position: 0% 0%; }
  21% {
    background-color: #4e5559; }
  29.99% {
    background-color: #ffffff;
    background-position: 0% 0%; }
  30% {
    background-color: #4e5559;
    background-position: 0% 100%; }
  50% {
    background-position: 0% 0%; }
  51% {
    background-color: #4e5559; }
  59% {
    background-color: #ffffff;
    background-position: 0% 0%; }
  60% {
    background-color: #4e5559;
    background-position: 0% 100%; }
  80% {
    background-position: 0% 0%; }
  81% {
    background-color: #4e5559; }
  90%, 100% {
    background-color: #ffffff; } }

@keyframes colorSlide {
  0% {
    background-position: 0% 100%; }
  20% {
    background-position: 0% 0%; }
  21% {
    background-color: #4e5559; }
  29.99% {
    background-color: #ffffff;
    background-position: 0% 0%; }
  30% {
    background-color: #4e5559;
    background-position: 0% 100%; }
  50% {
    background-position: 0% 0%; }
  51% {
    background-color: #4e5559; }
  59% {
    background-color: #ffffff;
    background-position: 0% 0%; }
  60% {
    background-color: #4e5559;
    background-position: 0% 100%; }
  80% {
    background-position: 0% 0%; }
  81% {
    background-color: #4e5559; }
  90%, 100% {
    background-color: #ffffff; } }

@-webkit-keyframes trackBallSlide {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(12px);
    transform: scale(1) translateY(12px); }
  6% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(3px);
    transform: scale(0.9) translateY(3px); }
  14% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(24px);
    transform: scale(0.4) translateY(24px); }
  15%, 19% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-12px);
    transform: scale(0.4) translateY(-12px); }
  28%, 29.99% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-12px);
    transform: scale(1) translateY(-12px); }
  30% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-12px);
    transform: scale(1) translateY(-12px); }
  36% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(3px);
    transform: scale(0.9) translateY(3px); }
  44% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(24px);
    transform: scale(0.4) translateY(24px); }
  45%, 49% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-12px);
    transform: scale(0.4) translateY(-12px); }
  58%, 59.99% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-12px);
    transform: scale(1) translateY(-12px); }
  60% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-12px);
    transform: scale(1) translateY(-12px); }
  66% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(3px);
    transform: scale(0.9) translateY(3px); }
  74% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(24px);
    transform: scale(0.4) translateY(24px); }
  75%, 79% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-12px);
    transform: scale(0.4) translateY(-12px); }
  88%, 100% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-12px);
    transform: scale(1) translateY(-12px); } }

@keyframes trackBallSlide {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(12px);
    transform: scale(1) translateY(12px); }
  6% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(3px);
    transform: scale(0.9) translateY(3px); }
  14% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(24px);
    transform: scale(0.4) translateY(24px); }
  15%, 19% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-12px);
    transform: scale(0.4) translateY(-12px); }
  28%, 29.99% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-12px);
    transform: scale(1) translateY(-12px); }
  30% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-12px);
    transform: scale(1) translateY(-12px); }
  36% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(3px);
    transform: scale(0.9) translateY(3px); }
  44% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(24px);
    transform: scale(0.4) translateY(24px); }
  45%, 49% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-12px);
    transform: scale(0.4) translateY(-12px); }
  58%, 59.99% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-12px);
    transform: scale(1) translateY(-12px); }
  60% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-12px);
    transform: scale(1) translateY(-12px); }
  66% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(3px);
    transform: scale(0.9) translateY(3px); }
  74% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(24px);
    transform: scale(0.4) translateY(24px); }
  75%, 79% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-12px);
    transform: scale(0.4) translateY(-12px); }
  88%, 100% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-12px);
    transform: scale(1) translateY(-12px); } }

@-webkit-keyframes nudgeMouse {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  20% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  30% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  60% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  80% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes nudgeMouse {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  20% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  30% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  60% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  80% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes nudgeText {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  20% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  30% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  60% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  80% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes nudgeText {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  20% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  30% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  60% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  80% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes colorText {
  21% {
    color: #4e5559; }
  30% {
    color: #ffffff; }
  51% {
    color: #4e5559; }
  60% {
    color: #ffffff; }
  81% {
    color: #4e5559; }
  90% {
    color: #ffffff; } }

@keyframes colorText {
  21% {
    color: #4e5559; }
  30% {
    color: #ffffff; }
  51% {
    color: #4e5559; }
  60% {
    color: #ffffff; }
  81% {
    color: #4e5559; }
  90% {
    color: #ffffff; } }
