@font-face {
    font-family: 'AP Honda';
    src: url('APHonda-BoldItalic.woff2') format('woff2'),
        url('APHonda-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'AP Honda';
    src: url('APHonda-Regular.woff2') format('woff2'),
        url('APHonda-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AP Honda';
    src: url('APHonda-Italic.woff2') format('woff2'),
        url('APHonda-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'AP Honda';
    src: url('APHonda-Bold.woff2') format('woff2'),
        url('APHonda-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

